ServiceClient/Service References/EntityService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1828/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1828/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1828/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceEndpoint" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetPrimaryCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrimaryCategories" />
  </wsdl:message>
  <wsdl:message name="IService_GetPrimaryCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrimaryCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddScheme_InputMessage">
    <wsdl:part name="parameters" element="tns:AddScheme" />
  </wsdl:message>
  <wsdl:message name="IService_AddScheme_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSchemeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetScheme_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScheme" />
  </wsdl:message>
  <wsdl:message name="IService_GetScheme_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchemeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSchemeForProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchemeForProducts" />
  </wsdl:message>
  <wsdl:message name="IService_GetSchemeForProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchemeForProductsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Add" message="tns:IService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddResponse" message="tns:IService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Delete" message="tns:IService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteResponse" message="tns:IService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Update" message="tns:IService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateResponse" message="tns:IService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrimaryCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetPrimaryCategories" message="tns:IService_GetPrimaryCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetPrimaryCategoriesResponse" message="tns:IService_GetPrimaryCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddScheme">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddScheme" message="tns:IService_AddScheme_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddSchemeResponse" message="tns:IService_AddScheme_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScheme">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetScheme" message="tns:IService_GetScheme_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSchemeResponse" message="tns:IService_GetScheme_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchemeForProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSchemeForProducts" message="tns:IService_GetSchemeForProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSchemeForProductsResponse" message="tns:IService_GetSchemeForProducts_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrimaryCategories">
      <soap:operation soapAction="http://tempuri.org/IService/GetPrimaryCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddScheme">
      <soap:operation soapAction="http://tempuri.org/IService/AddScheme" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheme">
      <soap:operation soapAction="http://tempuri.org/IService/GetScheme" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchemeForProducts">
      <soap:operation soapAction="http://tempuri.org/IService/GetSchemeForProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:1828/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>