ServiceClient/Service References/EntityService/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1828/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceEndpoint" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="shortCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="price" type="xs:decimal" />
        <xs:element minOccurs="0" name="primaryCategoryShortCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secondaryShortCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shortCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="shortCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="price" type="xs:decimal" />
        <xs:element minOccurs="0" name="primaryCategoryId" type="xs:int" />
        <xs:element minOccurs="0" name="secondaryCategoryId" type="xs:int" />
        <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrimaryCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrimaryCategoriesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddScheme">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="shortCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startdate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="isExpired" type="xs:boolean" />
        <xs:element minOccurs="0" name="discountPercent" type="xs:decimal" />
        <xs:element minOccurs="0" name="unitsBooked" type="xs:int" />
        <xs:element minOccurs="0" name="revenueGenerated" type="xs:decimal" />
        <xs:element minOccurs="0" name="primaryCategoryShortCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secondaryCategoryCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="expiredBy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSchemeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheme">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primaryCategoryCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secondaryCategoryCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchemeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceEndpoint" minOccurs="0" name="GetSchemeResult" nillable="true" type="q1:ArrayOfSchemeObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchemeForProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceEndpoint" minOccurs="0" name="products" nillable="true" type="q2:ArrayOfProductsAndQty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchemeForProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceEndpoint" minOccurs="0" name="GetSchemeForProductsResult" nillable="true" type="q3:ArrayOfProductsAndSchemes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>